nav {
  max-width: 100%;
}
#title {
  font-weight: bold;
  font-size: 2em;
}
.wide {
  max-width: 100%;
}
nav > ul {
  list-style-type: none;

  overflow: hidden;
}
.footer {
  margin-top: 300px;
}
section {
  background-color: #f4f7fa;
}
li section {
  margin-bottom: 10px;
}
.number {
  list-style-type: number;
  list-style-position: inside;
}
ul li::before {
  color: #8ee5d1;
}
h1 {
  color: #000000;
}
p,
a {
  color: #3c3c3c;
}
input[type="text"] {
  margin-bottom: 10px;
}
li {
  float: left;
  margin-right: 5%;
}
body {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.url {
  font-weight: bold;
}
input[type="submit"] {
  background-color: #8ee5d1;
  border-radius: 15%;
  padding: 10px;
}
button {
  padding: 15px;
  background-color: #8ee5d1;
  color: #3c3c3c;
  border-radius: 20%;
}

img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
