nav {
  max-width: 100%;
}
#title {
  font-weight: bold;
  font-size: 2em;
}
nav > ul {
  list-style-type: none;

  overflow: hidden;
}
li {
  float: left;
  margin-right: 5%;
}
body {
  margin: auto;
  width: 50%;

  padding: 10px;
}
